<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/findEmpPassword" method="post">
    <table>
        <tr>
            <td>사번</td>
            <td><input type="number" name="empId" required="required"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="empName" required="required"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text" name="empPhone" required="required"></td>
        </tr>
    </table>
    <input type="submit" value="찾기">
</form>
</body>
</html>