<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>신규 부서 등록</h1>
<form th:object="${dept}" method="post" action="/deptInsert">
    <table>
        <tr>
            <td>부서 번호</td>
            <td><input type="number" th:field="*{deptId}"></td>
        </tr>
        <tr>
            <td>부서 이름</td>
            <td><input type="text" th:field="*{deptName}"></td>
        </tr>
    </table>
    <input type="submit" value="등록">
</form>
<script th:inline="javascript">
    if(![[${result}]])
        alert([[${result}]]);
</script>
<a href="/test">링크페이지로</a>
</body>
</html>