<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacation Request Form</title>
</head>
<body>
<h1>Vacation Request</h1>
<form action="/request" method="post" th:object="${vacationRequest}">
    직원 번호
    <input type="text" th:field="*{empId}" required><br>

    휴가 시작 날짜
    <input type="date" th:field="*{vacationRequestStart}" pattern="yyyy-MM-dd" required><br>

    휴가 종료 날짜
    <input type="date" th:field="*{vacationRequestEnd}" pattern="yyyy-MM-dd" required><br>

    휴가 종류
    <input type="text" th:field="*{vacationRequestType}" required><br>

    휴가 사유
    <textarea th:field="*{vacationRequestReason}" required></textarea><br>

    휴가 진행상황
    <input type="text" th:field="*{vacationRequestStatus}" required><br>

    <button type="submit">신청</button>
</form>
</body>
</html>
