<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacation Request Form</title>
</head>
<body>
<h1>Vacation Request</h1>
<form action="/request" method="post" th:object="${vacationRequest}">
    직원 번호
    <input type="text" th:field="*{empId}" required><br>

    휴가 시작 날짜
    <input type="date" th:field="*{vacationRequestStart}" required><br>

    휴가 종료 날짜
    <input type="date" th:field="*{vacationRequestEnd}" required><br>

    휴가 종류
    <select th:field="*{vacationRequestType}" required>
        <option th:each="type : ${vacationTypes}" th:value="${type}" th:text="${type}"></option>
    </select><br>
    휴가 사유
    <textarea th:field="*{vacationRequestReason}" required></textarea><br>

    <button type="submit">신청</button>
</form>
</body>
</html>
